body {
  margin-left: 5%;
  margin-right: 5%;
}

.navigation-bar {background-color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: medium #ffffff solid;
  padding: 1%;
  text-align: center}

.navigation-bar a:link
.navigation-bar a:visited

.navigation-bar a:link {color: white;
  text-decoration: none}

.navigation-bar a:hover {background-color: gray;
  color: blue;
  text-decoration: none}

P     {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        line-height: 1.4em;
        color: #000000;
        margin-left: 5%;
        margin-right: 5%;
        }

h1, h2, h3, h4 { font-family: 'Arial', 'Helvetica', 'Sans-Serif';
  color: #000066;
  text-align: center;
}
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

/***

H1    {
        font-family: Arial, Helvetica;
        font-weight: bold;
        font-size: 3em;
        color: #000066;
        text-align: center;
        }

H4      {
        font-family: Arial, Helvetica;
        font-weight: bold;
        font-size: 12pt;
        color: #000066;
        text-align: left;
        }

***/

footer {
        border-top: 1px solid #d5d5d5;
        font-size: .8em;
       }

.quote	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1em;
	color: #336600;
	text-align: left;
	}

.quote2	{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 10pt;
	line-height: 14pt;
	color: #006600;
	text-align: left;
	}

.quote3	{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 10pt;
	line-height: 14pt;
	color: #990000;
	text-align: left;
	}

.sig  {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  line-height: 12pt;
  color: #000000;
  text-align: right;
}

.small {
       font-size: 5pt;
       line-height: 7pt;
       color: #000000;
       }
