P     {
        font-family: Verdana, Arial, Helvetica;
        font-size: 12pt;
        line-height: 12pt;
        color: #000000;
        margin-left: 5%;
        margin-right: 5%;
        }

H1    {
        font-family: Arial, Helvetica;
        font-weight: bold;
        font-size: 20pt;
        color: #000066;
        text-align: center;
        }

H4      {
        font-family: Arial, Helvetica;
        font-weight: bold;
        font-size: 12pt;
        color: #000066;
        text-align: left;
        }

.quote	{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 12pt;
	line-height: 14pt;
	color: #336600;
	text-align: left;
	}

.quote2	{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 10pt;
	line-height: 14pt;
	color: #006600;
	text-align: left;
	}

.quote3	{
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 10pt;
	line-height: 14pt;
	color: #990000;
	text-align: left;
	}

.sig  {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt;
  line-height: 12pt;
  color: #000000;
  text-align: right;
}

.small {
       font-size: 5pt;
       line-height: 7pt;
       color: #000000;
       }
